language: swift
before_install:
- gem install cocoapods -v '0.36'

# Use when you have third party dependencies (CocoaPods generates a workspace)
podfile: Pod/Podfile
script: xctool -workspace Pod/Pod.xcworkspace -scheme Tests -sdk iphonesimulator build test
